#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/* .wrapperanimate{
    width:200px;
    height:60px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.circle{
    width:20px;
    height:20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left:15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle{
    0%{
        top:60px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0%;
    }
}
.circle:nth-child(2){
    left:45%;
    animation-delay: .2s;
}
.circle:nth-child(3){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.shadow{
    width:20px;
    height:4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top:62px;
    transform-origin: 50%;
    z-index: -1;
    left:15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}
.shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s
}
.shadow:nth-child(5){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.wrapperanimate span{
    position: absolute;
    top:75px;
    font-family: 'Lato';
    font-size: 20px;
    letter-spacing: 12px;
    color: #fff;
    left:15%;
} */


/* @import url(/assets/css/loader.css);

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    display: block;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow: hidden;
}


.loader {
  text-align: center;
  transform: scale(0.4, 0.4)
}
@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 692.7913208007812px;
    stroke-dasharray: 692.7913208007812px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 692.7913208007812px;
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(234, 67, 53);
  }
}

.svg-elem-1 {
  animation: animate-svg-stroke-1 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite,
               animate-svg-fill-1 1.8s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s infinite;
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 308.0419921875px;
    stroke-dasharray: 308.0419921875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 308.0419921875px;
  }
}

.svg-elem-2 {
  animation: animate-svg-stroke-2 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s infinite,
               animate-svg-fill-2 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s infinite;
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 739.4423217773438px;
    stroke-dasharray: 739.4423217773438px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 739.4423217773438px;
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(251, 188, 5);
  }
}

.svg-elem-3 {
  animation: animate-svg-stroke-3 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s infinite,
               animate-svg-fill-3 1.8s cubic-bezier(0.47, 0, 0.745, 0.715) 1s infinite;
}

@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 739.4423828125px;
    stroke-dasharray: 739.4423828125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 739.4423828125px;
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(66, 133, 244);
  }
}

.svg-elem-4 {
  animation: animate-svg-stroke-4 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s infinite,
               animate-svg-fill-4 1.8s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s infinite;
} */