@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

html {
  scroll-padding-top: 4.5rem;
}

body {
  position: relative;
  overflow-x: hidden;  
  /* scroll-behavior:smooth; */
}

p {
  line-height: 1.75;
}

.page-section {
  padding: 6rem 0;
}
.page-section h2.section-heading, .page-section .section-heading.h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.section-subheading, .page-section .section-subheading.h3 {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}

.btn-xl {
  padding: 1.25rem 2.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 700;
}

.btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}

/* @font-face{
  font-family: icons;
  src: url('bootstrap-icons/fonts/bootstrap-icons.woff') format('woff');
} */





                                              /* BACK TO TOP */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 99;
}

.btn-back-to-top{
  background-color: #447497;
  padding: 10px 10px;
  border-radius: 50px;
  box-shadow: 1px 2px 3px 0px rgb(0 0 0 / 50%);
  /* transform: skewY(45deg) skewX(45deg) translateY(18px); */
  /* transition: 0.2s; */
  border:none;
}

/* i{
  transition: ease 0.2s all;
  cursor: pointer;
}
i:hover::before{
  content: '\F7CC';
} */


                                              /* NAVBAR */


Nav{
  position: fixed;
  align-items: center;
  width: 100%;
  transition: ease 0.2s all;
  z-index: 1000;
}

#mainNav .navbar-toggler-bg{
  background-color: #ced4da;
}

#mainNav {
  /* padding-top: 1.5rem;
  padding-bottom: 1.5rem; */
  background-color: #212529;
  /* box-shadow: 0 0 10px 5px rgb(0 0 0 / 50%); */
}
#mainNav .navbar-toggler {
  padding: 0.75rem;
  font-size: 0.75rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 700;
}
#mainNav .navbar-brand {
  color: #ffc800;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}
#mainNav .navbar-brand img {
  height: 1.5rem;
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.95rem;
  color: #fff;
  letter-spacing: 0.0625em;
}
/* #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ffc800;
} */

.navbar{
  background: transparent;
}
/* .navbar .nav-item{
  margin-left: 15px;
} */

.navbar .nav-item .nav-link::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  transition: all 0.5s ease;
  transform: scale(0);
}

.navbar .nav-item .nav-link .active::before,
.navbar .nav-item .nav-link:hover::before{
  transform: scale(1);
}


                                            /* LOGIN */
.btn-log {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  /* background-color: #212529; */
  /* color: #212529; */
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.navbar-shrink .btn-login {
  color: #fff;
}

.navbar-shrink .btn-signup {
  background-color:#447497;
  color: #fff;
}

                                            /* HEADER */

#section {
  position: relative;
  /* background-color: #fff; */
  width: 100%;
  display: block;
  /* height: 100vh; */
  /* padding: 100px; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.7), transparent);
  z-index: 10;
} */

.header {
  box-sizing: border-box;
  /* background-attachment: fixed; */
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

section img {
  /* position: absolute; */
  /* top: 0;
    left: 0; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  background-attachment: fixed;
}

section img#header{
  position: absolute;
  background-position: bottom !important;
  background-image: url("../assets/img/header-bg.jpg");
  /* min-height: 100vh; */
  /* width: 120%; */
  opacity: 100%;
  z-index: 1;
  bottom: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.text{
  text-align: center;
  z-index: 2;
  color: #fff;
}

/* .header{
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
} */

.header .header-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.header .header-heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}




                                                      /* ABOUT */

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
  transition: all 0.3s;
}
.timeline > li:after, .timeline > li:before {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #ffc800;
}
.timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
  text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

.timeline li:hover{
  transform: scale(1.05);
}





                                                /* PRODUCT */
.title-product{
  /* background-color: rgb(200, 200, 200); */
  padding: 10px;
  margin-bottom: 4rem;
}


/* #product {
  position: relative;
  width: 100%;
  display: block;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
#product::before{
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent);
  z-index: 999;
}
#price {
  position: relative;
  width: 100%;
  display: block;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
#price::before{
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
  z-index: 999;
} */

#product .product-item {
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
}
#product .product-item .product-link {
    position: relative;
    display: block;
    margin: 0 auto;
}
#product .product-item .product-link .product-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 200, 0, 0.9);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
}
#product .product-item .product-link .product-hover .product-hover-content {
  font-size: 1.25rem;
  color: white;
}
#product .product-item .product-link:hover .product-hover {
  opacity: 1;
}
#product .product-item .product-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#product .product-item .product-caption .product-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
#product .product-item .product-caption .product-caption-subheading {
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.product-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.product-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.product-modal .modal-content h2, .product-modal .modal-content .h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.product-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.product-modal .modal-content p {
  margin-bottom: 2rem;
}
.product-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.product-modal .modal-content img {
  margin-bottom: 2rem;
}
.product-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.product-modal .close-modal:hover {
  opacity: 0.3;
}



                                        /* TEAM MEMBER */
/* .team-member {
  margin-bottom: 3rem;
  text-align: center;
}
.team-member img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.team-member h4, .team-member .h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.img-brand {
  height: 2.75rem;
} */




                                        /* CONTACT */
section#contact {
  background-color: #212529;
  background-image: url("../assets/img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px 0;
  padding: 90px 0 40px 0;
  box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 50%);
  border-radius: 5px;
}
section#contact .section-heading {
  color: #fff;
}
section#contact form#contactForm .form-group {
  margin-bottom: 1.5rem;
}
section#contact form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
  padding: 1.25rem;
}
section#contact form#contactForm .form-group input.form-control {
  height: auto;
}
section#contact form#contactForm .form-group-textarea {
  height: 100%;
}
section#contact form#contactForm .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}
section#contact form#contactForm p.help-block {
  margin: 0;
}
section#contact form#contactForm .form-control:focus {
  border-color: #ffc800;
  box-shadow: none;
}
section#contact form#contactForm ::-webkit-input-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #252525;
}
section#contact form#contactForm :-moz-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #252525;
}
section#contact form#contactForm ::-moz-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #252525;
}
section#contact form#contactForm :-ms-input-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #252525;
}
.contact{
  padding: 0 20px;
}




.footer {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}




                                                /* PRICING */

.pricingTable{
  margin-top:30px;
  text-align: center;
  position: relative;
}
.pricingTable .pricing_heading:after{
  content: "";
  width: 36px;
  height: 29.5%;
  background:#447497;
  position: absolute;
  top: -1px;
  right: 0;
  z-index: 2;
  transform: skewY(45deg) translateY(18px);
  transition: all 0.4s ease 0s;
}
.pricingTable .title{
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #252525;
  text-transform: uppercase;
  background: #447497;
  padding: 15px 0 0;
  margin: 0 35px 0 0;
  transition: all 0.4s ease 0s;
}
.pricingTable .value{
  display: block;
  font-size: 35px;
  font-weight: 700;
  color: #252525;
  background: #447497;
  padding: 5px 0 10px;
  margin: 0 35px 0 0;
  transition: all 0.4s ease 0s;
}
.pricingTable:hover .title,
.pricingTable:hover .value,
.pricingTable:hover .month{
  color: #fff;
}
.pricingTable .month{
  display: block;
  font-size: 13px;
  font-weight: 500;
  color: #252525;
  text-transform: uppercase;
}
.pricingTable .content{
  border-left: 1px solid #f2f2f2;
  position: relative;
}
.pricingTable .content:after {
  content: "";
  width: 35px;
  height: 100%;
  background: #f8f8f8;
  box-shadow: 9px 9px 20px #ddd;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transform: skewY(-44deg) translateY(-17px) translateX(-1px);
  transition: all 0.4s ease 0s;
}
.pricingTable .content ul{
  padding: 0;
  margin: 0 35px 0 0;
  list-style: none;
  background: #fff;
}
.pricingTable .content ul li{
  display: block;
  font-size: 15px;
  color: #333;
  line-height: 23px;
  padding: 11px 0;
  border-bottom: 1px solid #f2f2f2;
}
.pricingTable .link{
  background: #fff;
  padding: 20px 0;
  margin-right: 35px;
  border-bottom: 1px solid #f2f2f2;
}
.pricingTable .link a{
  display: inline-block;
  padding: 9px 20px;
  font-weight: 700;
  color: #447497;
  text-transform: uppercase;
  border: 1px solid #447497;
  background: #fff;
  transition: all 0.4s ease 0s;
}
.pricingTable:hover .link a{
  color: #fff;
  background: #72dc72;
  border: 1px solid #72dc72;
}
.pricingTable:hover .pricing_heading:after,
.pricingTable:hover .title,
.pricingTable:hover .value{
  background:#72dc72;
}
@media only screen and (max-width: 990px){
  .pricingTable{
      margin-bottom: 35px;
  }
}



                                                /* FOOTER ICON*/

.icon{
  transition: .3s -webkit-transform cubic-bezier(0.155,2.105,0.100,0.12);
}
.icon:hover{
  color: #ced4da;
  transform: scale(1.5);
}

                                                /* SERVICE */
.gallery-item {
  width: 100%;
  display: flex;
  max-height: 250px;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.gallery-box {
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 50%);
}

.gallery-item :nth-child(odd) {
  align-self: flex-end;
}

.bg-icon{
  color: #447497;
}


                                                /* PRELOADER */

/* #preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #b5c7ff;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #25439d;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #8ba1e0;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #b5c7ff;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #25439d;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #8ba1e0;
		border-left-color: transparent;
	}
} */
                                        /* RESPONSIVE */

@media only screen and (max-width: 2560px) {
  section img#header {
    width: 100%;
    /* background-size: 120% !important; */
  }
}
@media only screen and (max-width: 1440px) {
  section img#header {
    width: 100%;
  }
}
@media only screen and (max-width: 1025px) {
  section img#header {
    width: 100%;
    background-size: 115% !important;
  }
}
@media (max-width: 1024px) {
    .gallery-item :nth-child(odd) {
        align-self: flex-start;
    }
    .gallery-item {
        width: 100%;
        display: flex;
        max-height: 250px;
        margin-bottom: 2rem;
        justify-content: space-between;
    }
}
@media (min-width: 1200px) {
    .timeline > li {
      min-height: 170px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px;
    }
}
@media (min-width: 992px) {
    #mainNav {
      padding: 10px;
      border: none;
      background-color: transparent;
      transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
      font-size: 1.5em;
      transition: font-size 0.3s ease-in-out;
    }
    #mainNav .navbar-brand img {
      height: 2rem;
      transition: height 0.3s ease-in-out;
    }
    #mainNav.navbar-shrink {
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: #212529;
      box-shadow: 0 0 10px 5px rgb(0 0 0 / 50%);
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
    }
    #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
      height: 1.5rem;
    }
    #mainNav .navbar-nav .nav-item {
      margin-right: 1rem;
    }
    #mainNav .navbar-nav .nav-item:last-child {
      margin-right: 0;
    }
}
@media (max-width: 769px) {
  section img#header {
    width: 100%;
    background-size: 150% !important;
  }
  #mainNav {
    background-color: #212529;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 50%);
  }
}
@media (min-width: 768px) {
  section {
      padding: 9rem 0;
  }
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    /* margin-bottom: 100px; */
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .masthead {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  }
  .masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  .masthead .masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
  }
}
@media (max-width: 720px) {
  .gallery-item :nth-child(odd) {
      align-self: flex-start;
  }
  .gallery-item {
      width: 100%;
      display:block;
      max-height: none;
      margin-bottom: 2rem;
      justify-content: space-between;
  }
  #mainNav {
    background-color: #212529;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 50%);
  }
}
@media (max-width: 426px) {
  section img#header {
    width: 100%;
    background-size: 270% !important;
  }
  #mainNav {
    background-color: #212529;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 50%);
  }
}
@media (max-width: 376px) {
  header ul {
    padding-right: 20px;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .header-container {
    margin-top: 20px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  section img#header {
    width: 100%;
    background-size: 310% !important;
  }
  #mainNav {
    background-color: #212529;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 50%);
  }
}
@media (max-width: 350px) {
  header {
    width: 100%;
    padding: 30px 10px;
    z-index: 11;
  }
  header ul {
    padding-right: 20px;
    font-size: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section img#header {
    width: 100%;
    background-size: 300% !important;
  }
  #mainNav {
    background-color: #212529;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 50%);
  }
}
@media (max-width: 320px) {
  header {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 10px;
    z-index: 11;
  }
  header .header-container {
    margin-top: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header a .logo {
    font-weight: 700;
    font-size: 15px;
  }
  header ul li a {
    font-size: 13px;
  }
  section img#header {
    width: 100%;
    background-size: 360% !important;
  }
  #mainNav {
    background-color: #212529;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 50%);
  }
}
